/* CSS Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    position: relative;
}

body {
    background-color: rgb(188, 214, 221);
}

header {
    display: block;
    padding: 10px;
    margin: 10px 25px;
    font-size: 20px;
    color: blue;
}

a {
    text-decoration: none;
    float: left;
}

a:hover {
    color: rgb(189, 32, 40);
}

#currentTime{
    float: right;
}

.container {
    display: flex;
    justify-content: center;
    background-color: rgb(193, 208, 212);
    padding: 40px;
    margin: 20px 200px;
    color: black;
}

#quizDiv,
#scoreDiv,
#highScoresDiv {
    display: none;
}

h1 {
    text-align: center;
    padding: 5px;
    margin-bottom: 40px;
    font-size: 40px
}

p {
    display: flex;
    font-size: 18px;
    text-align: center;
    line-height: 1.3;
    margin-bottom: 40px;
}

#start {
    display: block;
    background-color: lightskyblue;
    font-size: 20px;
    padding: 5px 10px;
    margin: 0% 40%;
}

#start:hover {
    color:rgb(189, 32, 40);
    background-color: rgb(156, 193, 235);
}

#questionTitle {
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
}

#choices,
li,
button{
    font-size: 20px;
    margin: 5px;
}



